<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
      <form class="search-form">
        <input type="text" name="country" placeholder="Enter country name">
        <button class="mdc-btn" type="submit" id="js-submit">search</button>
      </form>
      <p class="result"></p>
      <script type="text/template" id="table">
          <p>
              Country name : <span><%- name%></span>
          </p>
          <p>
              Capital : <span><%- capital%></span>
          </p>
          <p>
              Main currency : <span><%- currencies[0].code%></span>
          </p>
          <p>
              Flag : <img class="flag" src="<%- flag%>">
          </p>
      </script>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="scripts.js"></script>
</body>
</html>
